*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}


:root{
 --main-color:red;
 ---main-color2:black;
 --main-color3:aliceblue;
 
}

@font-face {
    font-family: "monster";
    src: url(gloomy_things/Gloomy\ Things.ttf)
    format("truetype");
    font-weight: 800;
    font-style: normal;
}

nav,ul{
    background: linear-gradient(to right,black,red);
    padding:20px;
    
}


li,a{
    text-decoration: none;
    list-style-type: none;
    color:var(--main-color3);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    font-family: "monster";
}

a:hover{
    color:rgb(248, 199, 75);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.845);
    border-radius:5px;
   
}


div{
    background-color:var(---main-color2);
    padding: 100px;
    color:var(--main-color3); 
}


h1{
    font-family: "monster";
    padding: 10px;
 
}



header{
    background-color: var(---main-color2);
    padding: 10px;
    color: var(--main-color3);
    text-align: center;
    font-family: "monster";
    font-size: large;
}

p{
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    
    
}

img{

    border-radius: 20px;
    padding: 20px;
    padding-top: 10px;
}

